<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Summary | GUDLFT Registration</title>
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>Welcome, {{ club['email'] }} </h2>
    <a href="{{ url_for('main.logout') }}">Logout</a>
    <a href="{{ url_for('main.points_display') }}">Points Board</a>

    Points available: {{ club['points'] }}
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            {{ comp['name'] }}<br />
            Date: {{ comp['date'] }}<br />
            Number of Places: {{ comp['numberOfPlaces'] }}
            {% if comp['numberOfPlaces']|int > 0 and comp['date'] > now %}
            <a href="{{ url_for('main.book', competition=comp['name'], club=club['name']) }}">
                Book Places
            </a>
            {% elif comp['numberOfPlaces']|int == 0 %}
            <span>Competition full</span>
            {% else %}
            <span>Booking unavailable</span>
            {% endif %}
        </li>
        <hr />
        {% endfor %}
    </ul>

</body>

</html>